<h3>Add Student</h3>
{{#if success}}    
    <p class="text-success">Input correct</p>
{{else}}
    {{#if errors }}
        <ul class="alert alert-danger">
            {{#each errors }}
            <li>{{ this.msg }}</li>
            {{/each}}
        </ul>    
    {{/if}}
{{/if}}

<form action="/student/add" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="student name" class="form-control" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" placeholder="student lastname" class="form-control" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="grade">Grade</label>
        <input type="text" name="grade" placeholder="grade" class="form-control" autocomplete="off">
    </div>
    <input type="submit" value="Add" class="btn btn-primary">
    <a href="/student/" class="btn btn-secondary">Cancelar</a>
</form>