<a href="/student/" class="btn btn-info">Regresar</a>
<br>
<table class="table">
    <tr>
        <td>Name</td>
        <td>Last Name</td>
        <td>Grade</td>
    </tr>
    <tr>
        <td>{{ student.Name }}</td>
        <td>{{ student.LastName }}</td>
        <td>{{ student.Grade }}</td>
    </tr>
</table>