<h2>List of Students</h2>
<a href="/student/add" class="btn btn-secondary">Add student</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Grade</th>
        <th></th>
        <th></th>
    </tr>
    {{#each students}}
    <tr>
        <td>{{ this.Name }}</td>
        <td>{{ this.Grade }}</td>
        <td>
            <a href="/student/detail/{{ this.Id }}">Detalle</a>
        </td>
        <td>
            <a href="/student/update/{{ this.Id }}">Update</a>
        </td>
    </tr>
    {{/each }}
</table>